In [2]:
import pandas as pd

In [30]:
df = pd.read_excel("data/survey_data/labelled_data/sat_data_combined_vertical_pred.xlsx")
#df = pd.read_excel("data/survey_data/labelled_data/data_pm_combined_vertical_pred.xlsx")

In [31]:
df

,Unnamed: 0,i,level_0,level_1,response,-,-2,empathy_score,y_pred,y_pred_logit,y_pred_xgb,y_pred_bert
0,0,0,0,A01,How do you feel?,NaN,NaN,1.0,0,0,0,0
1,1,64,1,A01,How are you feeling?,NaN,NaN,1.0,0,0,0,0
2,2,128,2,A01,How are you feeling today?,NaN,NaN,1.0,0,0,0,0
3,3,192,3,A01,How are you doing?,NaN,NaN,1.0,0,0,0,0
4,4,256,4,A01,How are you feeling right now?,NaN,NaN,1.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
827,827,575,8,J05,Write down a blog post sharing your success st...,NaN,NaN,NaN,0,0,0,2
828,828,639,9,J05,Write a blog post sharing your success story. ...,NaN,NaN,NaN,0,0,1,2
829,829,703,10,J05,Let us write down a blog post discussing your ...,NaN,NaN,NaN,2,2,2,2
830,830,767,11,J05,Make a blog post recording your success story....,NaN,NaN,NaN,0,0,0,2
831,831,831,12,J05,You can write a blog post sharing your success...,NaN,NaN,NaN,2,2,2,2

In [39]:
df['final_pred'].value_counts()

2.0    409
0.0    310
1.0    113
Name: final_pred, dtype: int64

In [32]:
df[['pred1', 'pred2', 'pred3']] = df[['y_pred_logit', 'y_pred_xgb', 'y_pred_bert']].mode(axis=1)

In [33]:
df

,Unnamed: 0,i,level_0,level_1,response,-,-2,empathy_score,y_pred,y_pred_logit,y_pred_xgb,y_pred_bert,pred1,pred2,pred3
0,0,0,0,A01,How do you feel?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN
1,1,64,1,A01,How are you feeling?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN
2,2,128,2,A01,How are you feeling today?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN
3,3,192,3,A01,How are you doing?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN
4,4,256,4,A01,How are you feeling right now?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,827,575,8,J05,Write down a blog post sharing your success st...,NaN,NaN,NaN,0,0,0,2,0.0,NaN,NaN
828,828,639,9,J05,Write a blog post sharing your success story. ...,NaN,NaN,NaN,0,0,1,2,0.0,1.0,2.0
829,829,703,10,J05,Let us write down a blog post discussing your ...,NaN,NaN,NaN,2,2,2,2,2.0,NaN,NaN
830,830,767,11,J05,Make a blog post recording your success story....,NaN,NaN,NaN,0,0,0,2,0.0,NaN,NaN
831,831,831,12,J05,You can write a blog post sharing your success...,NaN,NaN,NaN,2,2,2,2,2.0,NaN,NaN

In [34]:
df['final_pred'] = df['pred3']
df['final_pred'].fillna(df['pred2'], inplace=True)
df['final_pred'].fillna(df['pred1'], inplace=True)

In [35]:
df

,Unnamed: 0,i,level_0,level_1,response,-,-2,empathy_score,y_pred,y_pred_logit,y_pred_xgb,y_pred_bert,pred1,pred2,pred3,final_pred
0,0,0,0,A01,How do you feel?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN,0.0
1,1,64,1,A01,How are you feeling?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN,0.0
2,2,128,2,A01,How are you feeling today?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN,0.0
3,3,192,3,A01,How are you doing?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN,0.0
4,4,256,4,A01,How are you feeling right now?,NaN,NaN,1.0,0,0,0,0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,827,575,8,J05,Write down a blog post sharing your success st...,NaN,NaN,NaN,0,0,0,2,0.0,NaN,NaN,0.0
828,828,639,9,J05,Write a blog post sharing your success story. ...,NaN,NaN,NaN,0,0,1,2,0.0,1.0,2.0,2.0
829,829,703,10,J05,Let us write down a blog post discussing your ...,NaN,NaN,NaN,2,2,2,2,2.0,NaN,NaN,2.0
830,830,767,11,J05,Make a blog post recording your success story....,NaN,NaN,NaN,0,0,0,2,0.0,NaN,NaN,0.0
831,831,831,12,J05,You can write a blog post sharing your success...,NaN,NaN,NaN,2,2,2,2,2.0,NaN,NaN,2.0

In [36]:
df[['pred1', 'pred2', 'pred3']].describe()

            pred1  pred2  pred3
count  832.000000   31.0   31.0
mean     1.044471    1.0    2.0
std      0.929108    0.0    0.0
min      0.000000    1.0    2.0
25%      0.000000    1.0    2.0
50%      1.000000    1.0    2.0
75%      2.000000    1.0    2.0
max      2.000000    1.0    2.0

In [37]:
#df.to_excel("data_pm_combined_vertical_pred_final.xlsx")

In [50]:
#df_vis1 = pd.read_excel("data/survey_data/labelled_data/sat_data_combined_vertical_pred_final.xlsx")

In [52]:
#df_vis1['final_pred_modified'].value_counts()

### Move original label to paraphrased sentences

In [3]:
df_labelled = pd.read_excel("data/survey_data/labelled_data/sat_data_combined_vertical_pred_final.xlsx")

In [4]:
df2 = pd.read_excel("data/survey_data/labelled_data/data_pm_combined_vertical0.xlsx")

In [5]:
df3 = pd.read_excel("data/survey_data/labelled_data/data_pm_combined_vertical1.xlsx")

In [85]:
df2

,Unnamed: 0,index,level_0,level_1,0
0,0,0,0,A01,How are you feeling?
1,128,128,0,A01,How are you feeling today?
2,256,256,0,A01,How are you doing?
3,384,384,0,A01,How are you feeling right now?
4,512,512,0,A01,How are you doing today?
...,...,...,...,...,...
763,959,959,0,J05,Write down a blog post sharing your success st...
764,1087,1087,0,J05,"Write a blog post sharing your success story, ..."
765,1215,1215,0,J05,Let us write down a blog post discussing your ...
766,1343,1343,0,J05,"Make a blog post recording your success story,..."
767,1471,1471,0,J05,You can write a blog post about your success s...

In [90]:
df3

,Unnamed: 0,index,level_0,level_1,0
0,64,64,1,A01,How are you feeling?
1,192,192,1,A01,How are you feeling today?
2,320,320,1,A01,How are you doing?
3,448,448,1,A01,How are you feeling right now?
4,576,576,1,A01,How are you doing today?
...,...,...,...,...,...
763,1023,1023,1,J05,"Share a blog post about your success story, di..."
764,1151,1151,1,J05,Write a blog post sharing your success story (...
765,1279,1279,1,J05,Let us write a blog post discussing your succe...
766,1407,1407,1,J05,"Make a blog post recording your success story,..."
767,1535,1535,1,J05,You can write a blog post sharing your success...

In [92]:
df_labelled

,Unnamed: 0.1,Unnamed: 0,i,level_0,level_1,response,-,final_pred_modified,empathy_score,y_pred,y_pred_logit,y_pred_xgb,y_pred_bert,pred1,pred2,pred3,final_pred
0,0,0,0,0,A01,How do you feel?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
1,1,1,64,1,A01,How are you feeling?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
2,2,2,128,2,A01,How are you feeling today?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
3,3,3,192,3,A01,How are you doing?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
4,4,4,256,4,A01,How are you feeling right now?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,827,827,575,8,J05,Write down a blog post sharing your success st...,NaN,0,NaN,0,0,0,2,0,NaN,NaN,0
828,828,828,639,9,J05,Write a blog post sharing your success story. ...,NaN,0,NaN,0,0,1,2,0,1.0,2.0,2
829,829,829,703,10,J05,Let us write down a blog post discussing your ...,NaN,2,NaN,2,2,2,2,2,NaN,NaN,2
830,830,830,767,11,J05,Make a blog post recording your success story....,NaN,0,NaN,0,0,0,2,0,NaN,NaN,0
831,831,831,831,12,J05,You can write a blog post sharing your success...,NaN,0,NaN,2,2,2,2,2,NaN,NaN,2

In [114]:
df_labelled2 = df_labelled.groupby('level_1').apply(lambda group: group.iloc[1:, 1:])

In [117]:
df_labelled2 = df_labelled2.droplevel(0).reset_index()

In [118]:
df_labelled2

,index,Unnamed: 0,i,level_0,level_1,response,-,final_pred_modified,empathy_score,y_pred,y_pred_logit,y_pred_xgb,y_pred_bert,pred1,pred2,pred3,final_pred
0,1,1,64,1,A01,How are you feeling?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
1,2,2,128,2,A01,How are you feeling today?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
2,3,3,192,3,A01,How are you doing?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
3,4,4,256,4,A01,How are you feeling right now?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
4,5,5,320,5,A01,How are you doing today?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,827,827,575,8,J05,Write down a blog post sharing your success st...,NaN,0,NaN,0,0,0,2,0,NaN,NaN,0
764,828,828,639,9,J05,Write a blog post sharing your success story. ...,NaN,0,NaN,0,0,1,2,0,1.0,2.0,2
765,829,829,703,10,J05,Let us write down a blog post discussing your ...,NaN,2,NaN,2,2,2,2,2,NaN,NaN,2
766,830,830,767,11,J05,Make a blog post recording your success story....,NaN,0,NaN,0,0,0,2,0,NaN,NaN,0
767,831,831,831,12,J05,You can write a blog post sharing your success...,NaN,0,NaN,2,2,2,2,2,NaN,NaN,2

In [120]:
df2_pred = pd.merge(df2, df_labelled2[['final_pred_modified']], left_index=True, right_index=True)

In [121]:
df2_pred

,Unnamed: 0,index,level_0,level_1,0,final_pred_modified
0,0,0,0,A01,How are you feeling?,0
1,128,128,0,A01,How are you feeling today?,0
2,256,256,0,A01,How are you doing?,0
3,384,384,0,A01,How are you feeling right now?,0
4,512,512,0,A01,How are you doing today?,0
...,...,...,...,...,...,...
763,959,959,0,J05,Write down a blog post sharing your success st...,0
764,1087,1087,0,J05,"Write a blog post sharing your success story, ...",0
765,1215,1215,0,J05,Let us write down a blog post discussing your ...,2
766,1343,1343,0,J05,"Make a blog post recording your success story,...",0
767,1471,1471,0,J05,You can write a blog post about your success s...,0

In [122]:
df2_pred.to_excel("data/survey_data/labelled_data/data_pm_combined_vertical0_pred.xlsx")

In [123]:
df3_pred = pd.merge(df3, df_labelled2[['final_pred_modified']], left_index=True, right_index=True)

In [124]:
df3_pred

,Unnamed: 0,index,level_0,level_1,0,final_pred_modified
0,64,64,1,A01,How are you feeling?,0
1,192,192,1,A01,How are you feeling today?,0
2,320,320,1,A01,How are you doing?,0
3,448,448,1,A01,How are you feeling right now?,0
4,576,576,1,A01,How are you doing today?,0
...,...,...,...,...,...,...
763,1023,1023,1,J05,"Share a blog post about your success story, di...",0
764,1151,1151,1,J05,Write a blog post sharing your success story (...,0
765,1279,1279,1,J05,Let us write a blog post discussing your succe...,2
766,1407,1407,1,J05,"Make a blog post recording your success story,...",0
767,1535,1535,1,J05,You can write a blog post sharing your success...,0

In [125]:
df3_pred.to_excel("data/survey_data/labelled_data/data_pm_combined_vertical1_pred.xlsx")

# Combine Full data

In [127]:
df_labelled.head()

,Unnamed: 0.1,Unnamed: 0,i,level_0,level_1,response,-,final_pred_modified,empathy_score,y_pred,y_pred_logit,y_pred_xgb,y_pred_bert,pred1,pred2,pred3,final_pred
0,0,0,0,0,A01,How do you feel?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
1,1,1,64,1,A01,How are you feeling?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
2,2,2,128,2,A01,How are you feeling today?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
3,3,3,192,3,A01,How are you doing?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0
4,4,4,256,4,A01,How are you feeling right now?,NaN,0,1.0,0,0,0,0,0,NaN,NaN,0

In [132]:
df3_pred.head()

,Unnamed: 0,index,level_0,level_1,0,final_pred_modified
0,64,64,1,A01,How are you feeling?,0
1,192,192,1,A01,How are you feeling today?,0
2,320,320,1,A01,How are you doing?,0
3,448,448,1,A01,How are you feeling right now?,0
4,576,576,1,A01,How are you doing today?,0

In [134]:
df3_pred.columns

Index(['Unnamed: 0', 'index', 'level_0', 'level_1', 0, 'final_pred_modified'], dtype='object')

In [135]:
df2_pred.columns = ['Unnamed: 0', 'index', 'level_0', 'level_1', 'response', 'final_pred_modified']
df3_pred.columns = ['Unnamed: 0', 'index', 'level_0', 'level_1', 'response', 'final_pred_modified']

In [138]:
df_labelled = df_labelled[['level_1', 'response', 'final_pred_modified']]
df2_pred = df2_pred[['level_1', 'response', 'final_pred_modified']]
df3_pred = df3_pred[['level_1', 'response', 'final_pred_modified']]

In [146]:
df_labelled['original'] = "original"
df2_pred['original'] = "paraphrased1"
df3_pred['original'] = "paraphrased2"

/var/folders/qk/lxtkcfz111s0q71dflzrr_zm0000gn/T/ipykernel_124/4210794347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_labelled['original'] = "original"
/var/folders/qk/lxtkcfz111s0q71dflzrr_zm0000gn/T/ipykernel_124/4210794347.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_pred['original'] = "paraphrased1"
/var/folders/qk/lxtkcfz111s0q71dflzrr_zm0000gn/T/ipykernel_124/4210794347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_pred['original'] = "paraphrased2"

In [12]:
df2_pred = pd.read_excel("data/survey_data/labelled_data/data_pm_combined_vertical0_pred.xlsx")
df3_pred = pd.read_excel("data/survey_data/labelled_data/data_pm_combined_vertical1_pred.xlsx")

In [15]:
df2_pred

,Unnamed: 0.1,Unnamed: 0,index,level_0,level_1,response,final_pred_modified
0,0,0,0,0,A01,How are you feeling?,0
1,1,128,128,0,A01,How are you feeling today?,0
2,2,256,256,0,A01,How are you doing?,0
3,3,384,384,0,A01,How are you feeling right now?,0
4,4,512,512,0,A01,How are you doing today?,0
...,...,...,...,...,...,...,...
763,763,959,959,0,J05,Write down a blog post sharing your success st...,0
764,764,1087,1087,0,J05,"Write a blog post sharing your success story, ...",0
765,765,1215,1215,0,J05,Let us write down a blog post discussing your ...,2
766,766,1343,1343,0,J05,"Make a blog post recording your success story,...",0
767,767,1471,1471,0,J05,You can write a blog post about your success s...,0

In [16]:
df_labelled = df_labelled[['level_1', 'response', 'final_pred_modified']]
df2_pred = df2_pred[['level_1', 'response', 'final_pred_modified']]
df3_pred = df3_pred[['level_1', 'response', 'final_pred_modified']]

In [17]:
df_labelled['original'] = "original"
df2_pred['original'] = "paraphrased1"
df3_pred['original'] = "paraphrased2"

/var/folders/qk/lxtkcfz111s0q71dflzrr_zm0000gn/T/ipykernel_6232/4210794347.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_pred['original'] = "paraphrased1"

In [20]:
df_full = pd.concat([df_labelled, df2_pred, df3_pred])

In [21]:
df_full

,level_1,response,final_pred_modified,original
0,A01,How do you feel?,0,original
1,A01,How are you feeling?,0,original
2,A01,How are you feeling today?,0,original
3,A01,How are you doing?,0,original
4,A01,How are you feeling right now?,0,original
...,...,...,...,...
763,J05,"Share a blog post about your success story, di...",0,paraphrased2
764,J05,Write a blog post sharing your success story (...,0,paraphrased2
765,J05,Let us write a blog post discussing your succe...,2,paraphrased2
766,J05,"Make a blog post recording your success story,...",0,paraphrased2
767,J05,You can write a blog post sharing your success...,0,paraphrased2

In [22]:
df_full.to_excel("data/survey_data/labelled_data/data_labelled.xlsx")